html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  height: 100%;
}
.container {
  max-width: 1096px;
  width: auto;
  margin: 0px auto;
}
.page-header {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/header-bg.jpg") no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  padding-left: 20px;
}
.page-header .container {
  padding-top: 50px;
}
.page-header .container h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 50px;
}
.page-header .container p {
  color: #ffffff;
  font-size: 1.25rem;
  vertical-align: top;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}
.page-header .container p a {
  text-decoration: none;
  font-size: inherit;
  color: yellow;
}
.page-header .container p a:hover {
  border-bottom: 1px dashed yellow;
}
.page-header .container p a:active {
  color: #7f8000;
  border-color: #7f8000;
}
.page-header .container p .description {
  display: inline-block;
  width: 300px;
  margin-left: 10px;
}
